body {
    margin:0;
    padding:0;
    background: lightgreen;
}
.main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    max-width: 1200px;

    .map {
        margin-bottom: 50px;
    }
}